<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiscus.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Need to request runtime permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".ui.QiscusChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/QiscusTheme" />

        <service android:name=".service.QiscusPusherService"/>
        
        <receiver
            android:name=".service.QiscusPusherReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.qiscus.OPEN_COMMENT_PN"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
