<!--
  ~ Copyright (c) 2016 Qiscus.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiscus.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Need to request runtime permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:largeHeap="true">
        <activity
            android:name=".ui.QiscusChatActivity"
            android:theme="@style/QiscusTheme" />
        <activity
            android:name=".ui.QiscusGroupChatActivity"
            android:theme="@style/QiscusTheme" />
        <activity
            android:name=".ui.QiscusChannelActivity"
            android:theme="@style/QiscusTheme" />
        <activity
            android:name=".ui.QiscusAccountLinkingActivity"
            android:theme="@style/QiscusTheme" />
        <activity
            android:name=".ui.QiscusPhotoViewerActivity"
            android:theme="@style/QiscusTheme" />
        <activity
            android:name=".ui.QiscusSendPhotoConfirmationActivity"
            android:theme="@style/QiscusTheme"
            android:windowSoftInputMode="adjustResize" />

        <service android:name=".service.QiscusSyncService" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <service
            android:name=".service.QiscusSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <receiver
            android:name=".service.QiscusStartServiceReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.qiscus.START_SERVICE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.QiscusPushNotificationClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.qiscus.OPEN_COMMENT_PN" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.qiscus.sdk.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/qiscus_provider_paths" />
        </provider>

    </application>

</manifest>