<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiscus.sdk.chat.data.pusher">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>
</manifest>
